
.flip{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility:hidden;
    background-color: red;


    
}

.card{
    width:100%;
    transform-style: preserve-3d;
    backface-visibility:hidden;
}

.matched{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility:hidden;

}