body{
    background-color: #001f04;
    background-image: url("green.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
	text-align: center;
	margin: auto;
	width: 30%;
	font-family: sans-serif;
}
h1{
    color: #FFFFFF;
    text-align: center;
    font: italic 150% fantasy;
}

h2{
    color: #FFFFFF;
    text-align: left;
    font: italic 150% fantasy;
}
p{  
	width: 100%;
    color: #FFFFFF;
}

span{
    color: red;
    font-weight: bold ; 
}

a:link{
    color: lightgreen;
}

a:visited{
    color: pink;
}

a:hover{
	color: lightcoral;
}

table, th, td{
    border: 0px;
    width: 100%;
    text-align:center;
}

tr:nth-child(odd) {
    background-color: #001f04;
  }

ul, ol{
    display: table;
    margin:0 auto;
    text-align:left;
}

.shadow1{
    margin: 40px;
    background-color: rgb(55, 63, 54); /* Needed for IEs */

	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    

    
}